#header{
    display: flex;
    flex-direction: row;
    background-color: rgb(226, 183, 89);
    
}

#header img{
    width: 8vw;
    height: auto;
    padding: 1%;
}

.button_actions{
    width: 15vw;
    height: 15vh;
    margin: auto;
    background-color: transparent;
    border: solid 2px white;
}

#flex_container_buttons{
    display: flex;
    flex-direction: row;
    margin: 2vw;
}

#flex_container_buttons :hover{
    background-color: aliceblue;
}