<div id="header">
    <a id='img' routerLink="app-home">
        <img src="https://png.pngtree.com/templates/sm/20180619/sm_5b288f425e0d2.jpg">
    </a>
    <div id="flex_container_buttons">
        <a routerLink="app-home"><app-button [altura]="'10vh'" [escrita]="'Home'"></app-button></a>
        <a routerLink="app-cadastro"><app-button [altura]="'10vh'" [escrita]="'Cadastro'"></app-button></a>
        <a routerLink="app-consulta"><app-button [altura]="'10vh'" [escrita]="'Consulta'"></app-button></a>
    </div>
</div>
