#form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 4vh;
    height: 50vh;
    width: 55vw;
    padding: 2%;
    border: solid 0px transparent;
    border-radius: 5px;
    background-color: rgb(209, 195, 112);
    box-shadow: -1px 3px 5px 0.5px rgba(0, 0, 0, 0.3);
}

input, select{
    border: 0px solid transparent;
    border-left: solid 10px gold;
    border-radius: 5px;
    font-size: 1.5rem;
    width: 20vw;
    margin: 1vh 3vw;
}

select{
    margin-right: 3vw;
    cursor: pointer;
    width: 20.4vw;
}

select:invalid {
    color: gray;
}

#div_button{    
    margin:auto;
}
