<form>
  <input type="text" placeholder="Nome">
  <input type="email" placeholder="E-mail">
  <input type="password" placeholder="Senha">
  <input type="text" placeholder="Estado">
  <input type="text" placeholder="Cidade">
  <input type="text" placeholder="Bairro">
  <select>
    <option value="Masculino"> Masculino</option>
    <option value="Feminino"> Feminino</option>
    <option value="Outro"> Outro</option>
  </select>
  <input type="number" placeholder="Idade">
  <input type="url" placeholder="Link da foto">
</form>
