#button_actions{
    width: 15vw;
    margin-right: 2vw;
    background-color: transparent;
    border: solid 2px white;
    border-radius: 5px;
    cursor: pointer;
    color: azure;
    font-size: 1.5rem;
}

#button_actions:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}